In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('emails.csv')

In [3]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [5]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = df.iloc[:, 1:-1].values
y = df.iloc[:, -1].values

In [8]:
X.shape

(5172, 3000)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [10]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [11]:
svc = SVC(C=1.0,kernel='rbf',gamma='auto')        
svc.fit(X_train,y_train)
y_pred2 = svc.predict(X_test)

In [12]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred2)

In [13]:
cm

array([[1078,   36],
       [ 103,  335]], dtype=int64)

In [14]:
print("Accuracy Score for SVC : ", accuracy_score(y_pred2,y_test))

Accuracy Score for SVC :  0.9104381443298969

In [15]:
from sklearn.metrics import classification_report
cl_report=classification_report(y_test,y_pred2)
print(cl_report)

              precision    recall  f1-score   support

           0       0.91      0.97      0.94      1114
           1       0.90      0.76      0.83       438

    accuracy                           0.91      1552
   macro avg       0.91      0.87      0.88      1552
weighted avg       0.91      0.91      0.91      1552